<h1></h1>

<h2>Choose a Burger to eat!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burger/burger-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been DEVOURED!</h2>

<ul>
  {{#each burger}}
    {{#if eaten}}
      {{> burger/burger-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Type:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Devour DA BURGER</label><br>
    <input type="radio" name="eaten" value="1" checked> DEVOURED!<br>
    <input type="radio" name="eaten" value="0"> EAT THIS BURGER
  </div>

  <button type="submit">Add Burger</button>
</form>